.header h1 {
    position: relative;
    display: inline-block;
    opacity: 100%;
    font-size: 3em; 
}

.header h3 {
    position: relative;
    display: inline-block;
    opacity: 100%;
    font-size: 2em; 
}

.climbs {
    margin-left: 200px;
}

.climbs:hover {
    position: relative;
    cursor: pointer;
    margin-left: 0;
}

/* END OF HEADERS */


.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: gray;
    
}


.fitness {
    margin-left: 180px;
    margin-top: 50px;
}
.main-text {
    width: 90%;
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    opacity: 100%;
}

nav { 
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-links {
    text-align: right;
    flex: 1;
}

.nav-links ul li {
    list-style: none;
    display: inline;
    padding: 8px 8px;
}

.nav-links ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

nav .fa {
    display: none;
}

/* sends */


.send-columns h1 {
    text-align: center;
}

.send-columns { 
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}



















