.first-col {
    width: 50%;
    top: 4em;
    left: 2em;
    box-sizing: border-box;
    float: left;
    position: relative;
}

.sec-col {
    float: right;
    position: relative;
    right: 3.8em;
    top: .2em;
}




/* END OF HEADERS */



.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: gray;
    text-align: center;
    font-size: larger;
}

.wrapper {
    border: 10px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30vw;
    transform: translate(-50%, -50%);
    height: auto;
}

nav { 
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-links {
    text-align: right;
    flex: 1;
}

.nav-links ul li {
    list-style: none;
    display: inline;
    padding: 8px 8px;
}

.nav-links ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

nav .fa {
    display: none;
}

/* sends */


.send-columns h1 {
    text-align: center;
}

.send-columns { 
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}



















