.first-col {
    width: 50%;
    top: 2.57em;
    left: 1.9em;
    box-sizing: border-box;
    float: left;
    position: relative;
    font-size: 1.5em;
}

.sec-col {
    float: right;
    position: relative;
    right: 3.8em;
    top: .2em;
}

/* END OF HEADERS */

.fas {
    opacity: 50%;
    font-size: 2em;
    transition: 1s;
    cursor: pointer;
}

.fas:hover {
    opacity: 100%;
}

/* first starting */

.first:after {
    width: 0%;
    transition: 1s;
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
	left: 0;
    right: 0;
	width: 0%;
	background: black;
}
.fa-sort-down:hover .first:after {
    width: 50%;
    opacity: 100%;
}

.fa-sort-down:hover .first {
    opacity: 100%;
}

.first {
    font-size: 0.97em;
    opacity: 50%;
}

/* first ending */

/* second starting */

.second {
    font-size: 2em;
}

/* second ending  */

/* third starting  */

.third:after {
    width: 0%;
    transition: 1s;
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
	left: 0;
    right: 0;
	width: 0%;
	background: black;
}
.fa-sort-up:hover ~ .third:after {
    width: 50%;
    opacity: 100%;
}

.fa-sort-up:hover ~ .third {
    opacity: 100%;
}

.third {
    font-size: 0.97em;
    opacity: 50%;
    transition: 1s;
    text-decoration: none;
    position: relative;
}

/* third ending */

.sec-col {
    top: -.5px;
    right: 20%;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: gray;
    text-align: center;
    font-size: larger;
}

.wrapper {
    border: 10px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30vw;
    transform: translate(-50%, -50%);
    height: auto;
}

/* sends */


.send-columns h1 {
    text-align: center;
}

.send-columns { 
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}



















